<form action="{{ path('change_language') }}" method="post" id="lngForm">
    <select id="lng" name="lng">
        <option {% if id_lingua == '4' %} selected="selected" {% endif %} value="4">IT</option>
        <option {% if id_lingua == '1' %} selected="selected" {% endif %} value="1">EN</option>
        <option {% if id_lingua == '2' %} selected="selected" {% endif %} value="2">DE</option>
    </select>
</form>