{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Prodotti{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h1>Categoria {{category.title}}</h1></div>
            
            <!-- List Group -->
            <ul class="list-group">
                <li class="list-group-item">Nome Categoria: {{category.title}}</li>
                <li class="list-group-item">Descrizione: {{category.description}}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
{% endblock %}