{# src/QwebCMS/CatalogoBundle/Resources/views/Random/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Lista Categorie</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Categorie</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Categorie</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <!--<a class="close-link">
                <i class="fa fa-times"></i>
            </a>-->
        </div>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome Categoria</th>
                    <th>Descrizione</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            {{category.idTblCatalogueCategory}}
                        </td>
                        <td>
                            {{category.title}}
                        </td>
                        <td>
                            {{category.description}}
                        </td>
                        <td>
                            <a href="/category/update/{{category.idTblCatalogueCategory}}" title="Modifica"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}