{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Prodotti{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">    
{% endblock %}

{% block body %}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>Prodotti</h1></div>
        <div class="panel-body">
            <p>Elenco di tutti i prodotti</p>
        </div>
        
        <!-- Table -->
        <table class="table">
            
            {% for product in products %}
            <tr>
                <td>
                    {{product.title}}
                </td>
                <td>
                    {{product.shortDescription}}
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
{% endblock %}