{% extends '::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {#<span class="label label-primary pull-right">Today</span>#}
                    <h5>Prodotti</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ products|length }}</h1>
                    {#<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>#}
                    <small>Prodotti presenti</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {#<span class="label label-primary pull-right">Today</span>#}
                    <h5>Categorie</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ categories|length }}</h1>
                    {#<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>#}
                    <small>Categorie presenti</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {#<span class="label label-primary pull-right">Today</span>#}
                    <h5>Feature</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ features|length }}</h1>
                    {#<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>#}
                    <small>Feature presenti</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {#<span class="label label-primary pull-right">Today</span>#}
                    <h5>Featurevalues</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ featurevalues|length }}</h1>
                    {#<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>#}
                    <small>Featurevalues presenti</small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
