<td>
    {{ form_widget(allegato.id) }}
</td>
<td>
    {{ form_widget(allegato.nome) }}
</td>
<td>
    {{ form_widget(allegato.idTblLingua) }}
</td>
<td>
    {{ form_widget(allegato.imageFile) }}
</td>
<td class="delete_allegato"></td>